<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Revisao</title>
    <link rel="stylesheet" href="../static/31-01.css">
</head>
<body>

<div class="header">
    <div class="logo">
        <img class="img" src="../static/logo1-removebg-preview.png">
    </div>

    <div class="cabecalho">
        <a href="https://www.karenbachinibeauty.com.br/?utm_source=mais&utm_medium=maisplataforma&utm_campaign=sale&gad_
        %20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20source=1&gclid=Cj0KCQiA-5a9BhCBARIsACwMkJ6AGiJ9a6ocQ6U5nn0N7BXS1F6q41YzB6eakqjdDtbqQcxZtcviWhgaAnE6EALw_wcB" class="menu">Casa </a>

        <a href="https://www.karenbachinibeauty.com.br/?utm_source=mais&utm_medium=maisplataforma&utm_campaign=sale&gad_
        %20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20source=1&gclid=Cj0KCQiA-5a9BhCBARIsACwMkJ6AGiJ9a6ocQ6U5nn0N7BXS1F6q41YzB6eakqjdDtbqQcxZtcviWhgaAnE6EALw_wcB" class="menu">Sobre </a>

        <a href="https://www.karenbachinibeauty.com.br/?utm_source=mais&utm_medium=maisplataforma&utm_campaign=sale&gad_
        %20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20source=1&gclid=Cj0KCQiA-5a9BhCBARIsACwMkJ6AGiJ9a6ocQ6U5nn0N7BXS1F6q41YzB6eakqjdDtbqQcxZtcviWhgaAnE6EALw_wcB" class="menu">Compras</a>

        <a href="https://www.karenbachinibeauty.com.br/?utm_source=mais&utm_medium=maisplataforma&utm_campaign=sale&gad_
        %20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20source=1&gclid=Cj0KCQiA-5a9BhCBARIsACwMkJ6AGiJ9a6ocQ6U5nn0N7BXS1F6q41YzB6eakqjdDtbqQcxZtcviWhgaAnE6EALw_wcB" class="menu">Serviços</a>

        <a href="https://www.karenbachinibeauty.com.br/?utm_source=mais&utm_medium=maisplataforma&utm_campaign=sale&gad_
        %20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20source=1&gclid=Cj0KCQiA-5a9BhCBARIsACwMkJ6AGiJ9a6ocQ6U5nn0N7BXS1F6q41YzB6eakqjdDtbqQcxZtcviWhgaAnE6EALw_wcB" class="menu">Contato</a>

    </div>
</div>

<div class="div-2">
    <div class="texto">
        <h1> Bem-vinda a<br> Karen Bachini Beauty !</h1><br><br>
        <p> Descubra o poder da maquiagem e realce sua beleza natural com os melhores produtos.<br>
        Aqui, você encontra tudo o que precisa para se sentir confiante, radiante e autêntica.<br><br><br>
        💖 Produtos de alta qualidade para todos os tipos de pele.<br>
        💡 Tutoriais e dicas para um look impecável.<br>
        🛍️ Compre fácil e receba rápido no conforto da sua casa!<br>
        🌟 Sua beleza, seu estilo! Explore agora e brilhe com Karen Bachini Beauty!</p><br>
    </div>
    <div class="img2">
        <img src="../static/img_3.png" height="936">
    </div>
</div>


<div class="div-pai">
    <div class="div-filho2">
        <img src="../static/img_5.png" ><br>
        <p>PALETA </p><br>
        <p>PALETA MULTIFUNCIONAL - ILUMINADOR + CONTORNO ARTEMIS BY KAREN BACHINI - 12g</p><br>
        <a href="https://www.karenbachinibeauty.com.br/?utm_source=mais&utm_medium=maisplataforma&utm_campaign=sale&gad_
        source=1&gclid=Cj0KCQiA-5a9BhCBARIsACwMkJ6AGiJ9a6ocQ6U5nn0N7BXS1F6q41YzB6eakqjdDtbqQcxZtcviWhgaAnE6EALw_wcB" class="comprar">COMPRAR</a>
    </div>
    <div class="div-filho2">
        <img src="../static/img_6.png" ><br>
        <p>BATOM LÍQUIDO</p><br>
        <p>BATOM LÍQUIDO AFRODITE MATTE AVELUDADO BY KAREN BACHINI - 3,8g</p><br>
        <a href="https://www.karenbachinibeauty.com.br/?utm_source=mais&utm_medium=maisplataforma&utm_campaign=sale&gad_
        source=1&gclid=Cj0KCQiA-5a9BhCBARIsACwMkJ6AGiJ9a6ocQ6U5nn0N7BXS1F6q41YzB6eakqjdDtbqQcxZtcviWhgaAnE6EALw_wcB" class="comprar">COMPRAR</a>
    </div>
    <div class="div-filho2">
        <img src="../static/img_7.png" ><br>
        <p>PÓ FACIAL SOLTO </p><br>
        <p>PÓ FACIAL SOLTO ROSA PINK POWDER BY KAREN BACHINI - 12g</p><br>
        <a href="https://www.karenbachinibeauty.com.br/?utm_source=mais&utm_medium=maisplataforma&utm_campaign=sale&gad_
        source=1&gclid=Cj0KCQiA-5a9BhCBARIsACwMkJ6AGiJ9a6ocQ6U5nn0N7BXS1F6q41YzB6eakqjdDtbqQcxZtcviWhgaAnE6EALw_wcB" class="comprar">COMPRAR</a>
    </div>
</div>

</body>
</html>